---
export interface Props {
  seen?: boolean;
}

const { seen } = Astro.props;
---

<div
  class=`py-2 px-3 rounded-ss-2xl rounded-se-2xl rounded-es-lg rounded-ee-2xl bg-bubble border border-white/[.03] relative`
>
  <slot />
  {
    seen ? (
      <p class="absolute left-0 top-[45px] text-[13px] text-neutral-500">
        Seen
      </p>
    ) : null
  }
</div>
